.footer {
  padding: 37px 0;
  position: relative;

  &__decore {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: contain;
  }
  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: center;

    position: relative;
    z-index: 1;
  }

  &__title {
    margin-right: 16px;
    padding-right: 16px;
    position: relative;
    border-right: 2px solid #fff;
  }

  &__link {
    text-decoration: underline;
  }
}

@media (max-width: 1200px) {
  .footer {
    &__decore {
      height: 1000px;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &__wrapper {
      flex-direction: column;
    }
    &__title {
      margin-right: 0px;
      padding-right: 0px;
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-right: 0;
      border-bottom: 2px solid #fff;
    }
  }
}
