:root {
  //fonts
  --font-text-1: 'Montserrat', sans-serif;
  --font-text-2: 'Oswald', sans-serif;
  --font-text-3: 'Mont', sans-serif;

  //color
  --color-1: 242, 255, 94;

  //gradient
  --gradient: linear-gradient(139.92deg, rgb(255, 255, 255), rgb(153, 153, 153));
}
